<h2>Votre commande</h2>


<div class="commande">
    <h3>Numéro de commande: {{commande.num}} Date: {{commande.date}}</h3>
    <h3>Articles :</h3>
    <p *ngFor="let livre of livres ">Quantité: {{quantiteVoulue()}} Prix: {{livre.prix</p>
    <div class="client">
        <h3>Client : </h3>
        <p>id: {{ user.id }}</p>
        <p>Nom: {{ user.nom }} Prenom: {{ user.prenom }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Adresse de facturation: {{ user.adresse }}</p>
        <p>Adresse de Livraison:{{ user.adresseLivraison }}</p>
    </div>
    <h3>Prix total: </h3>
    <p>{{prixTotal()}}</p>
    <button (click)="validerCommande()">Valider votre commande</button>
</div>


<button [routerLink]="['/home']">Page d'accueil </button>