<!-- <h2>Votre commande</h2>


    <div class="article-left"><img src="https://via.placeholder.com/150" alt=""></div>
    <div class="article-right">
        <h2>{{ livre.titre }} </h2>
        <h3>Résumé :</h3>
        <p class="description"> {{livre.resume}}</p>
        <h3>isbn : </h3>
        <p>{{ livre.ISBN }}</p>
        <h3>format : </h3>
        <p>{{ livre.formatLivre }}</p>
        <h3>Editeur : </h3>
        <p>{{ livre.nomEditeur }}</p>
        <div class="article-ajoutPrix">
            <h3>Prix: </h3>
            <p class="prix">{{ livre.prix }} € </p>
            <button (click)="validerCommande()">Valider votre commande</button>
        </div>
    </div>

<button [routerLink]="['/home']">Page d'accueil </button> -->
