<h2>Panier</h2>

<div class="container">
    <ul>
        <li *ngFor="let livre of livres">
            {{livre.imageLivre}}
            {{livre.titre}}<br>
            {{livre.prix}}
            <select name="stock">
                <option selected="selected">1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option><br>
            </select>
            
        </li>
    </ul>
    <button>Supprimer la commande</button>
    <button>Valider la commande</button>
</div>