<h2>Panier</h2>

<div class="container">
    <div *ngFor="let item of panier; let i = index">
        <article>
            <div class="article-left"><img src="{{ item.livre.imageLivre }}" alt="Photo du livre"width="100px"></div>
            <div class="article-right">
                <h3>{{item.livre.titre}}</h3>
                <p class="description">{{item.livre.resume}}</p>
                <div class="article-ajoutPrix">
                    <p class="prix"> {{ item.livre.prix * item.quantite }} € </p>
                    <div class="quantity">
                        <button id="moins" (click)="moinsQuantitePanier(i)"> - </button> 
                        {{item.quantite}} 
                        <button id="plus" (click)="plusQuantitePanier(i)"> + </button>
                    </div>
                    <button [routerLink]="['/livre/',item.livre.ref]">Détails</button>
                </div>
            </div>
        </article>
    </div>
    <button (click)="viderPanier()">Vider le panier</button>
    <button (click)="validerPanier()">Valider le panier</button>
</div>