<div class="search">
    <form [formGroup]="rechercheForm" >
        <label for="search">Recherche</label>
        <input type="search" name="search" id="search" placeholder="Livre ou auteur..." formControlName="motsCles" (input)="rechercherLivre()">
        <!-- <button>Chercher</button> -->
    </form>
</div>
<ng-container *ngIf="rechercheForm.dirty || rechercheForm.touched">
<h2> Votre recherche </h2>

<div *ngFor="let item of result">
    <article>
        <div class="article-left"><img src="{{ item.imageLivre }}" alt="Photo du livre" width="200px"></div>
        <div class="article-right">
            <h3>{{item.titre}}</h3>
            <p class="description">{{item.resume}}</p>
            <div class="article-ajoutPrix">
                <p class="prix"> {{ item.prix }} € </p>
                <ng-container *ngIf="item.stock != 0">
                    <button (click)="ajoutPanier(item.ISBN)">Ajouter au panier</button>
                </ng-container>
                <button [routerLink]="['/livre/',item.ref]">Détails</button>
            </div>
        </div>
    </article>
</div>
<button [routerLink]="['/home']">Retour à la liste </button>
</ng-container>


<ng-container *ngIf="!rechercheForm.dirty || !rechercheForm.touched">
    <h2> Les Nouveautés </h2>

<div *ngFor="let item of result | slice:-3">
    <article>
        <div class="article-left"><img src="{{ item.imageLivre }}" alt="Photo du livre" width="200px"></div>
        <div class="article-right">
            <h3>{{item.titre}}</h3>
            <p class="description">{{item.resume |slice :0 :350}}...</p>
            <div class="article-ajoutPrix">
                <p class="prix"> {{ item.prix }} € </p>
                <ng-container *ngIf="item.stock != 0">
                    <button (click)="ajoutPanier(item.ISBN)">Ajouter au panier</button>
                </ng-container>
                <button [routerLink]="['/livre/',item.ref]">Détails</button>
            </div>
        </div>
    </article>
</div>
</ng-container>



<ng-container *ngIf="!rechercheForm.dirty || !rechercheForm.touched">
    <h2> Tous les articles</h2>

<div *ngFor="let item of result ">
    <article>
        <div class="article-left"><img src="{{ item.imageLivre }}" alt="Photo du livre" width="200px"></div>
        <div class="article-right">
            <h3>{{item.titre}}</h3>
            <p class="description">{{item.resume |slice:0 :350}}...</p>
            <div class="article-ajoutPrix">
                <p class="prix"> {{ item.prix }} € </p>
                <ng-container *ngIf="item.stock != 0">
                    <button (click)="ajoutPanier(item.ISBN)">Ajouter au panier</button>
                </ng-container>
                <button [routerLink]="['/livre/',item.ref]">Détails</button>
            </div>
        </div>
    </article>
</div>
</ng-container>
