<div class="search">
    <form [formGroup]="rechercheForm" (ngSubmit)="rechercherLivre()">
        <label for="search">Recherche</label>
        <input type="search" name="search" id="search" placeholder="Livre ou auteur..." formControlName="motsCles">
        <button>Chercher</button>
    </form>
</div>

<h2> Les Best Sellers </h2>

<div *ngFor="let item of result">
    <article>
        <div class="article-left"><img src="{{ item.imageLivre }}" alt="Photo du livre"width="200px"></div>
        <div class="article-right">
            <h3>{{item.titre}}</h3>
            <p class="description">{{item.resume}}</p>
            <div class="article-ajoutPrix">
                <p class="prix"> {{ item.prix }} € </p>
                <button (click)="ajoutPanier(item.ISBN)">Ajouter au panier</button>
                <button [routerLink]="['/livre/',item.ref]">Détails</button>
            </div>
        </div>
    </article>
</div>

<!-- <h2> Nouveautés </h2>

<div *ngFor="let item of livres">
    <article>
        <div class="article-left"><img src="https://via.placeholder.com/150" alt=""></div>
        <div class="article-right">
            <h3>{{item.titre}}</h3>
            <p class="description">{{item.description}}</p>
            <div class="article-ajoutPrix">
                <p class="prix"> {{ item.prix }} </p>
                <button [routerLink]="['/livre/',item.ref]">Détails</button>
            </div>
        </div>
    </article>
</div> -->