<nav>
    <div class="logo"><img src="./assets/images/logo-ib.png" alt="Logo ib formation"></div>
    <div class="right-col">
        <ul>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Gouvernance Informatique</a></li>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Formation Informatique</a></li>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Formation Bureautique</a></li>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Connexion</a></li>
        </ul>
        <div class="btn-panier"><img class="panier" src="../assets/images/uil_shopping-basket.png" alt="panier">
            <p>1</p>
        </div>
        <img class="menu-button" src="../assets/images/menu-mobile-open.png" alt="icone pour ouverture du menu" (click)="togglemenu()">
    </div>
    <div class="menu-mobile" *ngIf="showMenu" >
        <div class="close-menu"><img src="../assets/images/cross-menu.png" alt="icone pour ouverture du menu" (click)="togglemenu()"></div>
        <button>
            Connexion
            <img src="../assets/images/fa-regular_user.png" alt="Panier menu">
        </button>
        <button>
            Panier
            <img src="../assets/images/panier-menu.png" alt="Panier menu">
        </button>
        <p>Catégories :</p>
        <ul>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Gouvernance Informatique</a></li>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Formation Informatique</a></li>
            <li routerLink="/listArticles" routerLinkActive="active"><a>Formation Bureautique</a></li>
        </ul>
    </div>
</nav>
