<nav>
    <div class="logo"><img src="./assets/images/logo-ib.png" alt="Logo ib formation" routerLink="/home" ></div>
    <div class="right-col">
        <ul>
            <li class="btn" routerLink="/authentification" routerLinkActive="active"  ><a>Connexion</a></li>
            <li class="btn" routerLink="/authentification" routerLinkActive="active"  (click)="deconnexion();togglemenu() "><a>Déconnexion</a></li>
        </ul>
        <div [routerLink]="['/utilisateur/']" class="btn-panier"><img class="compte" height="35px" src="../assets/images/userBlack.png" alt="Modifier compte">
        </div>
        <div [routerLink]="['/panier/']" class="btn-panier"><img class="panier" src="../assets/images/uil_shopping-basket.png" alt="panier">
            <p>{{  nbItems }}</p>
        </div>
        <img class="menu-button" src="../assets/images/menu-mobile-open.png" alt="icone pour ouverture du menu" (click)="togglemenu()">
    </div>
    <div class="menu-mobile" *ngIf="showMenu" >
        <div class="close-menu"><img src="../assets/images/cross-menu.png" alt="icone pour ouverture du menu" (click)="togglemenu()"></div>
        <button routerLink="/authentification" (click)="togglemenu()" *ngIf='!isConnected'>
            Connexion
            <img src="../assets/images/fa-regular_user.png" alt="Panier menu">
        </button>
        <button routerLink="/authentification" (click)="deconnexion()">
            Déconnexion
            <img src="../assets/images/fa-regular_user.png" alt="Panier menu">
        </button>
        <button [routerLink]="['/panier/']">
            Panier
            <img src="../assets/images/panier-menu.png" alt="Panier menu">
        </button>
       
    </div>
</nav>
