<article>
    <div class="article-left"><img src="{{ livre.imageLivre }}" alt=""></div>
    <div class="article-right">
        <h2>{{ livre.titre }} </h2>
        <h3>Résumé :</h3>
        <p class="description"> {{livre.resume}}</p>
        <h3>isbn : </h3>
        <p>{{ livre.ISBN }}</p>
        <h3>format : </h3>
        <p>{{ livre.formatLivre }}</p>
        <h3>Editeur : </h3>
        <p>{{ livre.nomEditeur }}</p>
        <div class="article-ajoutPrix">
            <h3>Prix: </h3>
            <p class="prix">{{ livre.prix }} € </p>
            <button (click)="ajoutPanier(livre.ISBN)">Ajouter au panier</button>
            <button id="moins" (click)="changerQuantite()"> - </button > {{quantite}} <button id="plus" (click)="changerQuantite()"> + </button>
        </div>
    </div>
</article>
<button [routerLink]="['/home']">Retour à la liste </button>
<!-- {{|json}} -->