<!-- <nav>
  <div class="logo"><img src="./assets/images/logo-ib.png" alt="Logo ib formation"></div>
  <div class="right-col">
    <ul>
      <li>Gouvernance Informatique</li>
      <li>Formation Informatique</li>
      <li>Formation Bureautique</li>
      <li>Connexion</li>
    </ul>
    <div><img class="panier" src="../assets/images/uil_shopping-basket.png" alt="panier">
      <span>1</span>
    </div>
    <img class="menu-button" src="../assets/images/menu-mobile-open.png" alt="icon pour ouverture du menu">
  </div>
  <div class="menu-mobile">
    <button>
      Connexion
      <img src="../assets/images/fa-regular_user.png" alt="Panier menu">
    </button>
    <button>
      Panier
      <img src="../assets/images/panier-menu.png" alt="Panier menu">
    </button>
    <p>Catégories</p>
    <ul>
      <li>Gouvernance Informatique</li>
      <li>Formation Informatique</li>
      <li>Formation Bureautique</li>
    </ul>
  </div>
</nav> -->


<router-outlet></router-outlet>