<h1>Création de Compte</h1>
<form #creation=ngForm (submit)=creerCompte()>
    <label for="nom">Nom:</label><br>
    <input type="text" id="nom"><br>
    <label for="prenom">Prenom:</label><br>
    <input type="text" id="prenom"><br>
    <label for="email">E-mail:</label><br>
    <input type="text" id="email"><br>
    <label for="mdp">Mot de passe:</label><br>
    <input type="text" id="mdp">
    <div>
        <h2>Adresses</h2>
        <h3>Adresse de facturation</h3>
        <label for="num">Numéro:</label><br>
        <input type="text" id="num"><br>
        <label for="rue">Rue:</label><br>
        <input type="text" id="rue"><br>
        <label for="cp">Code Postal:</label><br>
        <input type="text" id="cp"><br>
        <label for="ville">Ville:</label><br>
        <input type="text" id="ville"><br>
        <label for="complément">Complément:</label><br>
        <input type="text" id="complément"><br>
        <h3>Adresse de livraison</h3>
        <label for="num">Numéro:</label><br>
        <input type="text" id="num"><br>
        <label for="rue">Rue:</label><br>
        <input type="text" id="rue"><br>
        <label for="cp">Code Postal:</label><br>
        <input type="text" id="cp"><br>
        <label for="ville">Ville:</label><br>
        <input type="text" id="ville"><br>
        <label for="complément">Complément:</label><br>
        <input type="text" id="complément"><br>
  </div><br>
  <button>Créer le compte</button>
</form>