/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul li {
  list-style-type: none;
}
h2 {
  font-size: 32px;
  line-height: 37px;
  color: #003e87;
  text-align: center;
  position: relative;
  margin: 2rem 0;
}
h2::after{
position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  display: block;
  margin: 2rem auto 0 auto;
  content: "";
  border-bottom: 1px solid #003e87;
  width: 90%;
}

input {
  background: linear-gradient(231deg, #E8E8E8 0%, #FFFFFF 71.1%);
  box-shadow: -22.0709px 17.8727px 56.8px rgba(51, 51, 51, 0.1035), inset 4.9537px -4.01143px 6.37422px #E3E3E3, inset -4.9537px 4.01143px 6.37422px #FFFFFF;
  border: hidden;
  border-radius: 14px;
  padding: 0.8rem 1.2rem ;
  width: 70%;
}
label{
  font-size: 18px;
  line-height: 21px;
}
.search{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
}
.search button{
  background: #FFFFFF;
  border: 1px solid #84F8DC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1.2rem 2rem;
}
article{
  background: linear-gradient(49deg, #FFFFFF 0%, #EAEAEA 70.88%);
box-shadow: 30.8425px -26.8109px 81.7333px rgba(51, 51, 51, 0.1035), inset -6.92242px 6.01757px 9.1723px #E5E5E5, inset 6.92242px -6.01757px 9.1723px #FFFFFF;
  border-radius: 14px;
  padding: 1.2rem;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  gap: 10px;
}
article h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 1.2rem;
}
article p{
  font-size: 12px;
  line-height: 14px;
}
.article-ajoutPrix{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
article button{
  background: #FFFFFF;
  border: 1px solid #84F8DC;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1.2rem 2rem;

}
.prix{
  background: #C8FDF0;
  border-radius: 9px;
  padding: 1.4rem 2rem;
  font-size: 18px;
}
.description{
  margin-bottom: 1.2rem;
}